</head>
<body>
  <nav>
    <img src="https://img.icons8.com/emoji/48/000000/airplane-emoji.png"/>
    <a href="/meals/new" <%- title === 'Add Meal' ? 'class="active"' : '' %> >Add Meal</a>
    <a 
      href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>
    >ADD Flight</a>
    <a href="/flights" <%- title === 'All Flight' ? 'class="active"' : '' %>
    >ALL Flights</a>



  </nav>